{% extends 'insert.html' %}
{% block content %}
    {% if data != 'error' %}
        <h2 style="color: rgb(0, 184, 0);">Successfully created entry:</h2>
        <ul>
            <li style="color: ghostwhite;">ID: {{ data['id'] }}</li>
            <li style="color: ghostwhite;">Tournament: {{ data['tournament'] }}</li>
            <li style="color: ghostwhite;">Team 1: {{ data['t1'] }}</li>
            <li style="color: ghostwhite;">Team 2: {{ data['t2'] }}</li>
            <li style="color: ghostwhite;">Score: {{ data['score'] }}</li>
            <li style="color: ghostwhite;">Winner: {{ data['winner'] }}</li>
            <li style="color: ghostwhite;">Bracket: {{ data['bracket'] }}</li>
        </ul>
    {% else %}
        <h2 style="color: red;">There was an error with your entry.<br>Please try again.</h2>
    {% endif %}
{% endblock %}