<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/global.css">
        <title>Home</title>
    </head>
    <body>
        <h1 class="homePage">Welcome to the League of Legends</h1>
        <h1 class="homePage" style="margin-top: 1%;">Tournament Match Result Database</h1>
        <div class="homePage">
            <button class="homePage" onclick="w"><a href="/search">Search</a></button>
        </div>
        <h2 class="homePage">or</h2>
        <div class="homePage">
            <button class="homePage"><a href="/insert" style="text-decoration: none;">Insert</a></button>
        </div>
    </body>
</html>