{% extends 'insert.html' %}
{% block content %}
    {% if data != 'error' %}
        <h2 style="color: rgb(0, 184, 0);">Successfully created entry:</h2>
        <ul>
            <li>ID: {{ data[0] }}</li>
            <li>Tournament: {{ data[1] }}</li>
            <li>Team 1: {{ data[2] }}</li>
            <li>Team 2: {{ data[3] }}</li>
            <li>Score: {{ data[4] }}</li>
            <li>Winner: {{ data[5] }}</li>
            <li>Bracket: {{ data[6] }}</li>
        </ul>
    {% else %}
        <h2 style="color: red;">There was an error with your entry.<br>Please try again.</h2>
    {% endif %}
{% endblock %}

<style>
    li {
        color: rgb(0, 184, 0);
        font-size: medium;
    }

    ul {
        color: rgb(0, 184, 0);
        font-size: medium;
    }
</style>